/*Index css*/
/*Navigation of home page*/
body{
    background-color: lightblue;
}
.inav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgb(19, 94, 119);
    
}
/*links css*/
.inav a{
    color: black;
    background-color: lightblue;
    padding: 10px 20px;
    margin: 20px 20px 20px 20px;
}
.inav a:hover{
    color: rgb(184, 164, 164);
}
.islideshow{
    width: 48%;
    height: 450px;
    position: relative;
}
.islideshow img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: none;
}
.islideshow img:first-child{
    display: block;
}
.itable{
    table-layout: auto;
    text-align: left;
    width: 45%;
    margin-bottom: 10px;
    padding: 5px;
}
.itable, td, tr{
    border: 1px solid black;
    padding: 5px;
}
.iwrapper{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
    margin-top: 20px;
}