/*Index css*/
/*Navigation of home page*/
body{
    background-color: lightblue;
}
.inav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgb(19, 94, 119);
    
}
.inav a{
    color: black;
    background-color: lightblue;
    padding: 10px 20px;
    margin: 20px 20px 20px 20px;
}
.inav a:hover{
    color: rgb(184, 164, 164);
}
.islideshow{
    width: 48%;
    height: 450px;
    position: relative;
}
.islideshow img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: none;
}
.islideshow img:first-child{
    display: block;
}
.itable{
    table-layout: auto;
    text-align: left;
    width: 45%;
    margin-bottom: 10px;
    padding: 5px;
}
.itable, td, tr{
    border: 1px solid black;
    padding: 5px;
}
.iwrapper{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
    margin-top: 20px;
}
/*Css for the gallery page*/
.gnav{
    display: flex;
    flex-direction: row;
    justify-content: first end;
    background-color: rgb(19, 94, 119);
}
.gnav a{
    color: black;
    background-color: lightblue;
    padding: 10px 20px;
    margin: 20px 20px 20px 20px;
}
.gnav a:hover{
    color: rgb(184, 164, 164);
}
.gtext{
    text-align: center;
}
.gpic-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
}
.gpic-grid img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}
/*Contact page*/